---
import {concertCardsData} from '../js/concert_maps_data'
const {
  class: className,
  id: id,
  src,
  showOverlay,
  isConcertCard,
  concertDate,
  concertLocation,
  concertPrice,
  isArtistCard,
  artistName,
  artistBandRole,
  concertEvent,
  concertTarget,
} = Astro.props

import Overlay from './Overlay.astro'
import ConcertCardContent from './ConcertCardContent.astro'
import ArtistCardContent from './ArtistCardContent.astro'
---

{
  isArtistCard ? (
    <a href={`/artist/${artistName}`} class='block'>
      {/* You can adjust the href as needed */}
      <article
        class={`${className} relative h-[325px] w-[300px] flex justify-center`}
        id={id}>
        <img src={src} class='h-full w-full object-cover' />
        {showOverlay && <Overlay />}

        <ArtistCardContent
          artistName={artistName}
          artistBandRole={artistBandRole}
        />
      </article>
    </a>
  ) : (
    <article class={`${className} relative h-[325px] w-[300px]`} id={id}>
      <img src={src} class='h-full w-full object-cover' />
      {showOverlay && <Overlay />}

      <ConcertCardContent
        concertEvent={concertEvent}
        concertTarget={concertTarget}
        concertDate={concertDate}
        concertLocation={concertLocation}
        concertPrice={concertPrice}
      />
    </article>
  )
}
